<div class="row">
  <div class="col-md-12">
    <%= bootstrap_form_for(@chess_class) do |f| %>
        <%= f.text_field :school %>
        <%= f.number_field :days %>
        <%= f.number_field :price %>
        <%= f.number_field :size %>
        <%= f.time_field :start_time %>
        <%= f.time_field :end_time %>
        <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
